@using HotelBookingSystemApp.ViewModels
@model HomeFiltersViewModel
@{

    ViewData["Title"] = "Home Page";

    // Restore cities and room types from ViewData (these were stored there by the Controller)
    var cities = ViewData["Cities"] as IEnumerable<string>;
    var roomTypes = ViewData["RoomTypes"] as IEnumerable<RoomType>;
}
<style>
    body {
        background-image: url('images/2.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }
</style>
    <form style="/* Center vertically and horizontally */ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); " method="get" asp-controller="Room" asp-action="Listing">
        <div class="filters-select-flexitems">

            <select class="city" style=" width: 50%; text-align:center; float:left; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;" asp-for="City" asp-items="@(new SelectList(cities))">
                <option value="">City</option>
            </select>

            <select class="roomType" style="width: 50%; text-align: center; position: relative; left: 6px; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; " asp-for="RoomTypeId" asp-items="@(new SelectList(roomTypes, "Id", "RoomType1"))">
                <option value="">Room Type</option>
            </select>
        </div>
        <div class="filters-input-flexitems">

            <input type="date" asp-for="CheckInDate" style="width: 50%; text-align: center; float:left; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; " placeholder="@Html.DisplayNameFor(m => m.CheckInDate)" />

            <span asp-validation-for="CheckInDate"></span>

            <input class="control-label" asp-for="CheckOutDate" style="width: 50%; text-align: center; position: relative; left: 6px; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; " type="date" placeholder="@Html.DisplayNameFor(m => m.CheckOutDate)" />

        </div>

        <input type="submit" class="btn" style="position: absolute; top: 120%; left: 50%; transform: translate(-50%, -50%); width: 30%; background-color: #E55B13; color:white; " value="Search" />
    </form>

